.smalltitle-hi {
    color: #00C497;
    margin-top: -15vh;
    font-family: 'paybooc Medium';
    font-size: 2vw;
  }
  
  .big-box-hi {
    width: 58vw;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.6);
    max-height: 72vh; 
    overflow-y: auto;
    margin-left: 0vw;
  }
  
  .listname-hi {
    font-family: 'paybooc Medium';
    font-size: 1.5vw;
    padding-left: 4%;
    display: flex;
    padding-bottom: 3vh;
    font-weight: bold;
    width: 100%;
    justify-content: space-between;
  }
  
  .listname-hi > span {
    padding: 5px 20px; /* 좌우 padding을 넓게 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 150px; /* 최소 너비를 더 넓게 설정 */
    text-align: center;
  }
  
  .small-box-hi {
    font-family: 'paybooc Medium';
    font-size: 1.5vw;
    padding-left: 4vw;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .small-box-hi > span {
    padding: 5px 20px; /* 좌우 padding을 넓게 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    min-width: 150px; /* 최소 너비를 더 넓게 설정 */
    text-align: center;
  }
  
  .search-box {
    font-family: 'paybooc Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .search-box input {
    font-family: 'paybooc Medium';
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 20vw;
  }
  
  .search-box button {
    font-family: 'paybooc Medium';
    width: 6vw;
    height: 5.5vh;
    padding: 0px 0px;
    font-size: 16px;
    color: #000;
    background-color: #e4e4e4;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .search-box button:hover {
    background-color: #00C497;
  }
  